:root {
	--border-radius: 10px;
	--box-shadow: 4px 4px #1db475;
}

* {
		margin: 0;
		padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f1d2b;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    font-family: monospace;
		padding: 25px 0 15px 150px;
    width: 70%;

		.about-header {
				display: flex;
				margin: 20px 0 0 50px;
				font-family: monospace;
				font-size: 1.5rem;
				font-weight: bold;
				color:#ffc75f;
		}

		.profile-pic {
				width: 300px;
				border-radius: 10%;
				height: 300px;
				margin: 60px 0 20px 20px;
				border-radius: var(--border-radius);
				box-shadow: var(--box-shadow);
		}

		.profile-text {
				width: 100%;
				flex-wrap: wrap;
				display: flex;
				margin-left: 338px;
				font-size: .8rem;
				text-align: left;
				color:#ffffff;
		}

		.profile-text2 {
			width: 75%;
			flex-wrap: wrap;
			display: flex;
			margin-left: 400px;
			line-height: 30px;
			font-size: 1.2rem;
			text-align: left;
			color:#ffc75f;
	}
}

@media only screen and (min-width: 600px) {
	.profile-text {
			width: 100%;
			display: flex;

			font-size: 1rem;
	}

	.profile-pic {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			margin-left: 0px;
			margin-top: 30px;
	}
}

@media only screen and (max-width: 600px) {
	.about-header {
			display: flex;
			justify-content: center;
	}
	
	.profile-pic {
			margin-top: 20px;
			margin-left: auto;
			margin-right: 100px;
			border-radius: 50%;
			max-width: 150px;
			max-height: 150px;
	}

	.about-container {
			display: flex;
			flex-wrap: wrap;
	}

	.profile-text {
			display: flex;
			flex-wrap: wrap;
			font-size: 1rem;
	}
}