* {
    box-sizing: border-box;
}

body {
    background-color: #0f1d2b;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    font-family: monospace;
		padding-bottom: 10px;
		padding-top: 25px;
    padding-left: 150px;
    width: 70%;
}

.about-header {
		display: flex;
		font-family: monospace;
		font-size: 1.5rem;
		font-weight: bold;
		color:#ffc75f;
}

.profile-pic {
		width: 300px;
		border-radius: 10%;
		height: 300px;
		margin-top: 75px;
}

.profile-text {
		width: 100%;
		flex-wrap: wrap;
		display: flex;
		margin-left: 150px;
		margin-bottom: 150px;
		line-height: 25px;
		font-size: 1rem;
		text-align: left;
		color:#ffffff;
}