:root {
	--border-radius: 10px;
	--box-shadow: 4px 4px #1db475;
}

* {
    box-sizing: border-box;
}

h4 {
	padding: 5px;
	font-family: monospace;
	font-size: x-large;
	color:#ffffff;
	line-height: 5px;
}

a {
color: #1db475;;
}

.contact-head {
    margin-top: 20px;
    margin-left: 120px;
		padding: 20px;
}

.contact-header {
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: bold;
		color:#ffc75f;
		line-height: 2px;
		padding-bottom: 20px;
}

.form {
    font-family: monospace;
    font-size: x-large;
		margin-left: 180px;
    display: grid;
		color: #ffffff;
    ::placeholder {
        font-family: monospace;
        font-size: large;
        // padding-left: 15px;
				color:  #091520;
    }

	.input-field {
			font-size: large;
			width: 60%;
			height: 40px;
			padding-left: 15px;
			color:  #091520;
			background-color:  #e9e1a4;
			border-radius: var(--border-radius);
	}

	.message-field {
			height: 150px;
			width: 60%;
			font-size: large;
			font-family: monospace;
			padding-left: 15px;
			color: #091520;
			background-color: #e9e1a4;;
			border-radius: var(--border-radius);
	}

	.button {
			width: 30%;
			font-family: monospace;
			font-size: x-large;
			margin-top: 20px;
			background-color:  #091520;
			color: #ffc75f;
			height: 50px;
			margin-bottom: 50px;
			border-radius: 10px;
			border-radius: var(--border-radius);
			box-shadow: var(--box-shadow);
	}

	.button:hover {
			background-color: #0f1d2b;
			cursor: pointer;
	}

	.button:active {
			background-color: #355c7d;
			cursor: pointer;
	}

.error-text {
    margin-left: 20px;
    font-family: monospace;
    font-size: 1rem;
    margin-bottom: 10px;
	}
}