:root {
	--border-radius: 10px;
	--box-shadow: 4px 4px #1db475;
}

* {
    box-sizing: border-box;
}

h4 {
	margin: 0 0 10px 28px;
	padding: 5px;
	line-height: 10px;
	font-family: monospace;
	font-size: x-large;
	color:#ffffff;
}

a {
color: #1db475;
}

a:hover {
	text-decoration: underline;
	text-decoration-color:#ffc75f;
	text-decoration-thickness: 2px;
}

.contact-head {
    margin: 35px 0 0 175px;
		padding: 20px;
}

.contact-header {
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: bold;
		color:#ffc75f;
		padding-bottom: 20px;
}

.form {
    font-family: monospace;
    font-size: x-large;
		margin-left: 250px;
    display: grid;
		color: #ffffff;
    ::placeholder {
        font-family: monospace;
        font-size: large;
				color:  #091520;
		}

	.input-field {
			font-size: large;
			width: 60%;
			height: 40px;
			padding-left: 15px;
			color:  #091520;
			background-color:  #e9e1a4;
			border-radius: var(--border-radius);
	}

	.message-field {
			height: 150px;
			width: 60%;
			font-size: large;
			font-family: monospace;
			padding-left: 15px;
			color: #091520;
			background-color: #e9e1a4;;
			border-radius: var(--border-radius);
	}

	.button {
			width: 30%;
			font-family: monospace;
			font-size: x-large;
			margin-top: 20px;
			background-color:  #091520;
			color: #ffc75f;
			height: 50px;
			border-radius: var(--border-radius);
			box-shadow: var(--box-shadow);
	}

	.button:hover {
			background-color: #0f1d2b;
			cursor: pointer;
	}

	.button:active {
			background-color: #355c7d;
			cursor: pointer;
	}
}
.error-text {
	color: #ffffff;  
	margin: 20px 0 20px 200px;
    font-family: monospace;
    font-size: 1rem;
	}

	@media only screen and (max-width: 762px) {

    .brand {
        padding: 20px;
        font-size: 1.5rem;
        text-align: center;
    }
}


@media only screen and (max-width: 600px) {
    .navbar {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 15vh;
        font-family: monospace;
        background-color: #fcf2ec;
        color: #355c7d;
        align-items: center;
    }

    .link-list {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        margin-right: 10px;
        width: 80%
    }

    .link-list-item {
        font-size: 1rem;
        margin-right: 10px;
    }

    .brand {
        padding: 10px;
        font-size: 1.5rem;
        text-align: center;
    }
}