.navbar {
	display: flex;
	width: 100%;
	background-color:  #091520;
}

.brand {
		padding: 20px;
		font-size: 3rem;
		width: 80%;
		margin-left: 100px;
		justify-content: flex-start;
}

.brand-name {
		color: #ffffff;
}

.brand-name2 {
	color: #1db475;
}

.link-list {
		display: flex;
		justify-content: flex-end;
		list-style: none;
		margin-left: 20px;
}

.link-list-item {
		font-size: 1.5rem;
		font-family: monospace;
		font-weight: 800;
		margin-right: 450px;
		margin-top: 50px;
}

.nav-link {
	color: #1db475;
	text-decoration: none;
}

.nav-link:hover {
	text-decoration: underline;
	text-decoration-color:#ffc75f;
}
