:root {
	--border-radius: 10px;
	--box-shadow: 4px 4px #1db475;
}

a {
	text-decoration: none;
}

.portfolio-header {
		margin: 50px 0 20px 200px;
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: bold;
		color:#ffc75f;
}

.header-text{
    font-style:italic;
		margin: 0 0 25px 250px;
		line-height: 25px;
		font-size: 1.2rem;
		text-align: left;
		color:#ffffff;
}

.project-container {
    font-family: monospace;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;

    .project-card {
        padding: 5px 0 0 0;
        margin: 10px;

        .project-header {
            text-decoration: none;
            height: 100px;
						width: 95%;
            text-align: center;
            border-radius: 10px 10px 0 0;
            padding-top: 10px;
            background-color: #e9e1a4;
						box-shadow: grey 0px 0px 1px 1px;

            .project-text {
              text-decoration: none;  
							text-align: center;
                margin: 5px;
                font-size: 1.2rem;
                color: #0f1d2b;
            }

            .project-text:hover {
                text-decoration: underline;
								text-decoration-thickness: 2px;
            }

            .hide {
                display: inline;
                color: #0f1d2b;
                font-size: 3rem;
                margin: auto;
            }
        }

        .image {
            border-radius: 0 0 10px 10px;
            box-shadow: grey 0px 1px 1px 1px;
            margin: 0px;
            width: 95%;
            height: 70%;
            padding: 5px;
        }
    }

    .image:hover {
			box-shadow: rgb(66, 60, 60) 1px 2px 2px 2px;
    }

    .project-header:hover {
			box-shadow: rgb(66, 60, 60) 1px 0px 2px 2px;
    }

    .image:active {
        box-shadow: rgb(50, 45, 45) 2px 2px 2px 2px;
    }
}