h2 {
	color:#ffffff;
}

.resume-container {
    font-family: monospace;
}
.resume-header{
	padding: 0px;
	font-family: monospace;
	margin-top: 10px;
	font-size: 1.5rem;
	margin-left: 70px;
	font-weight: bold;
	color:#ffc75f;
}

.resume-link {
	padding: 20px;
	margin-left: 70px;
}

.resume-headers { 
	margin-top: 20px;
	margin-left: 70px;
	margin-bottom: 10px;
	color:#ffffff;
}

.resume-list {
	margin-left: 70px;
	font-size: x-large;
	color:#ffffff;
	margin-bottom: 50px;
	.resume-items {
			margin-left: 20px;
			margin-bottom: 10px;
	}
}